body {
    background: url("http://users.metropolia.fi/~tiiaraut/Student-events-calendar/img/bokeh.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    margin: 0;
}

.container {
    padding: 0.1em 3em 2em 3em;
    z-index: 1;
    background-color: white;
    margin: 2em 6em;
    min-height: 100vh;
}

.row {
    margin: 0;
    margin-top: 6em;
}

footer {
    color: white;
    text-align: center;
    font-family: 'Nunito';
    margin-bottom: 3em;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 45px;
    letter-spacing: 1px;
    margin: 0.3em 0 1em 0;
    
}

p {
    
    font-family: 'Arsenal';
    color: black;
}

hr {
    margin-top: -1.7em;
}

.btn {
    background-color: #429174;
    outline: none !important;
    border: none !important;
    border-radius: 4px;
    font-family: 'Nunito';
    font-size: 15px;
    letter-spacing: 1px;
    padding: 8px 10px 8px 10px;
    margin-right: 20px;
    text-transform: uppercase;
    color: white;
}

.btn:hover {
    background-color: #3A7D64;
    background-size: 20px;
}

i {
    margin-bottom: 0.5em;
    margin-left: 1em;
    margin-top: 0.6em;
}

.nav {
    position: absolute;
    font-size: 130%;
    font-family: 'Nunito';
    text-transform: uppercase;
    letter-spacing: 1px;
    list-style-type: none;
    margin: auto;
    width: 72%;
    padding-top: 0.6em;
    padding-left: 13%;
    padding-right: 15%;
    display: flex;
    justify-content: space-between;
}

ul {
    list-style: none;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

a {
    color: #000;
    cursor: pointer;
}

a:hover {
    text-shadow: -2px 2px #b2c0d4;
}

.content {
    margin-top: 3em;
}

h2 {
    font-family: 'Nunito';
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 20px;
}

.sos h2 {
    display: inline-block;
    vertical-align: top;
    float: left;
    margin: 0;
    padding: 0;
    padding-right: 10px;
}

h3 {
    font-family: 'Nunito';
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 15px;
}

iframe {
    width: 100%;
}

#lista {
    width: 100%;
    padding-top: 2em;
}

#kuvaa {
    display: inline-block;
    width: 400px;
    margin-right: 1%;
}

#kuvaa img {
    width: 400px;
}

#events {
    display: inline-block;
    width: 400px;
    font-family: 'Nunito';
    padding-left: 20px;
    vertical-align: top;
}

select {
    height: 27px;
    outline: none;
    border: solid 1px black;
    display: block;
    float: left;
    vertical-align: top;
    margin: 0;
}

.sos {
    width: 100%;
}

form {
    font-family: 'Nunito';
    vertical-align: top;
}

input {
    margin-left: 1em;
}


hr {
    display: block;
    max-width: 98%;
    height: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 2px solid #000000;
    border-left: 0;
    clear: both;
}

.eihh {
    border-bottom: 1px solid #fff;
}

button {
    float: right;
    display: inline-block;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    vertical-align: middle;
    border-radius: 0;
    padding: 0.45em 0.85em;
    margin: 0;
    font-size: 0.9rem;
    background-color: #000000;
    color: #fefefe;
    border: none;
    outline: none;
    border: 2px solid black;
    border-bottom: none;
}

button:hover {
    background: white;
    border: 2px solid black;
    border-bottom: none;
    color: black;
}

#carousel {
    color: white;
}

.kiva {
    height: 240px;
    margin-bottom: 20px;
    margin-top: 10px;
    width: 400px;
}

.viiva {
    border-bottom: 2px solid black;
    padding-top: 20px;
    height: 218px;
    color: black;
}

/*history page*/

#upcoming img {
    width: 400px;
}

#upcoming li {
    display: inline-block;
    width: 44%;
    padding: 2%;
    margin: 1%;
    margin-left: 0;
    margin-right: 2%;
    background: #b2c0d4;
    height: 100px;
    font-family: 'Nunito';
    text-transform: uppercase;
    font-weight: bold;
}

#upcoming p {
    text-transform: none;
}

#upcoming2 li {
    display: inline-block;
    width: 44%;
    padding: 2%;
    margin: 1%;
    margin-left: 0;
    margin-right: 2%;
    background: #b2c0d4;
    height: 100px;
    font-family: 'Nunito';
    text-transform: uppercase;
    font-weight: bold;
}

#upcoming2 p {
    text-transform: none;
}

#friends img {
    width: 400px;
}

#history img {
    width: 50%;
}

#history li,
#history2 li {
    display: inline-block;
    width: 44%;
    padding: 2%;
    margin: 1%;
    margin-left: 0;
    margin-right: 2%;
    background: #b2c0d4;
    height: 100px;
    font-family: 'Nunito';
    text-transform: uppercase;
    font-weight: bold;
}

#history p,
#history2 p {
    text-transform: none;
}

#kuvat img {
    width: 50%;
}


fieldset {
    border: 2px solid black;
    margin-top: 3em;
    padding-bottom: 0;
}
/*end*/

#twitter {
    display: inline-block;
    float: right;
    border-left: 2px solid black;
    padding-left: 20px;
    margin-left: 20px;
}

.ikonit img {
    height: 40px;
    margin-right: 20px;
}